html, body, #map_canvas {
    height: 100%;
}

.overlay {
    width: 100%;
    position: fixed;
    text-align: center;
    z-index: 900;
    height: 100%;
}

.overlay-box {
    opacity: 0.85;
    border-radius: 5px;
    margin: 2% auto;
    width: 90%;
    background-color: #fff;
}

.overlay-content {
    padding:40px;
    font-size:18px;
    font-weight:200px;
    line-height:30px;
}

.align-right {
    float: right;
}

.gamestatusbar {
    background-color: #fff;
    opacity: 0.85;
    padding: 10px;
}

.gamestatusbar h1 {
    margin: 0px;
}

.align-bottom {
    position: absolute;
    bottom: 15px;
}

body {
    padding: 0px !important;
}
